# Node build artifacts
node_modules
npm-debug.log
.vscode
typings
bin
obj
.vs
project.njsproj
self-learn

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# other files
heroku-clean-node-cache-.bat
typings.json