<html ng-app="app">

<head>
    <title>Main page</title>
    <script src="libs/JQuery/jquery-1.11.3.js"></script>
    <script src="libs/Angular/angular.js"></script>
    <script src="libs/Angular/angular-sanitize.min.js"></script>
    <script src="libs/moment.min.js"></script>
    <script src="libs/Chart.bundle.min.js"></script>
    <script src="libs/angular-chart.js"></script>
    <script src="libs/angular-dialgauge.js"></script>
    <script src="utils.js"></script>
    <script src="custom_index.js"></script>
    <style>
        .dg {
            display: inline-block;
            width: 200px;
            height: 200px;
        }
    </style>
</head>

<body ng-controller="chartController">
    <div>
        <p>Last update time: {{getLastUpdateTime()}}</p>
        <div class="dg">
            <ng-dial-gauge scale-min="-40"
                           scale-max="50"
                           border-width="1"
                           ng-model="lastData.temp"
                           title="Temperature"
                           bar-color="red"
                           bar-width="6"
                           units="oC"
                           angle="135"
                           rotate="180"
                           line-cap="round"
                           style="stroke:#000000;">
            </ng-dial-gauge>
        </div>
        <div class="dg">
            <ng-dial-gauge scale-min="0"
                           scale-max="100"
                           border-width="1"
                           ng-model="lastData.humid"
                           title="Humidity"
                           bar-color="blue"
                           bar-width="6"
                           units="%"
                           angle="135"
                           rotate="180"
                           line-cap="round"
                           style="stroke:#000000;">
            </ng-dial-gauge>
        </div>
        <div class="dg">
            <ng-dial-gauge scale-min="0"
                           scale-max="100"
                           border-width="1"
                           ng-model="lastData.volt1"
                           title="Voltage"
                           bar-color="blue"
                           bar-width="6"
                           units="W"
                           angle="135"
                           rotate="180"
                           line-cap="round"
                           style="stroke:#000000;">
            </ng-dial-gauge>
        </div>
        <div class="dg">
            <ng-dial-gauge scale-min="0"
                           scale-max="100"
                           border-width="1"
                           ng-model="lastData.watt_per_m2"
                           title="Power per m2"
                           bar-color="blue"
                           bar-width="6"
                           units="W/m2"
                           angle="135"
                           rotate="180"
                           line-cap="round"
                           style="stroke:#000000;">
            </ng-dial-gauge>
        </div>
    </div>
    <div style="width:50%;">
        <canvas id="line" class="chart chart-line" chart-data="data.volt1"
                chart-series="series.volt1" chart-options="options"
                chart-colors="colors"
                chart-click="onClick"></canvas>
    </div>
    <div style="width:50%;">
        <canvas id="line" class="chart chart-line" chart-data="data.watt_per_m2"
                chart-series="series.watt_per_m2" chart-options="options"
                chart-colors="colors"
                chart-click="onClick"></canvas>
    </div>
</body>

</html>