<html ng-app="app">

<head>
    <title>Solar panel monitor</title>
    <script src="libs/JQuery/jquery-1.11.3.js"></script>
    <script src="libs/Angular/angular.js"></script>
    <script src="libs/Angular/angular-sanitize.min.js"></script>
    <script src="libs/moment.min.js"></script>
    <script src="libs/Chart.bundle.min.js"></script>
    <script src="libs/angular-chart.js"></script>
    <script src="libs/angular-dialgauge.js"></script>

    <link href="libs/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="libs/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="libs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script src="utils.js"></script>
    <script src="custom_index.js"></script>
    <style>
        .dg {
            display: inline-block;
            width: 200px;
            height: 200px;
        }
    </style>
</head>

<body ng-controller="chartController">
    <div>
        <h1>A solar panel monitoring station in Minsk, Belarus</h1>
        <p>
            This is a test project for learning purpose. A board with Esp8266 is used to measure
            no-load voltage and output power of a solar panel (size 60mmx30mm).
            Temperature and humidity also are measured by sensor DTH22.
            Esp8266 runs on a battery (not from solar panel, since it is too small).
            Measured data is sent to Node-red server running in a local server before being forwarded to server on internet.
            Server runs on Heroku server, uses a free plan. Server is written using Nodejs.<br/>
            Time on this page is presented in local time in Belarus (GMT+3).
        </p>
        <p>
            Source code:<br />
            <a href="https://github.com/lehn85/slm-monitoring-station-esp8266">Esp8266 C++ code</a><br />
            <a href="https://github.com/lehn85/slm-nodejs-webserver">Nodejs webserver</a>
        </p>
        <p>Last measure time: {{getLastUpdateTime()}}</p>
        <div class="dg" ng-repeat="g in arrayGauges">
            <ng-dial-gauge scale-min="{{g.min}}"
                           scale-max="{{g.max}}"
                           border-width="1"
                           ng-model="g.value"
                           title="{{g.title}}"
                           bar-color="red"
                           bar-width="6"
                           units="{{g.units}}"
                           angle="135"
                           rotate="180"
                           line-cap="round"
                           style="stroke:#000000;">
            </ng-dial-gauge>
        </div>
    </div>
    <div class="panel panel-default"
         style="width:50%"
         ng-repeat="cd in arrayCharts">
        <div class="panel-heading">
            <h3 class="panel-title">{{cd.title}}</h3>
        </div>
        <div class="panel-body">
            <canvas id="line" class="chart chart-line" chart-data="cd.data"
                    chart-series="cd.series" chart-options="cd.options"
                    chart-colors="cd.colors"
                    chart-click="onClick(cd)"></canvas>
        </div>
    </div>
</body>

</html>