<html ng-app="app">

<head>
    <title>Main page</title>
    <script src="libs/JQuery/jquery-1.11.3.js"></script>
    <script src="libs/Angular/angular.js"></script>
    <script src="libs/Angular/angular-sanitize.min.js"></script>
    <script src="libs/moment.min.js"></script>
    <script src="libs/Chart.bundle.min.js"></script>
    <script src="libs/angular-chart.js"></script>
    <script src="libs/angular-dialgauge.js"></script>
    <script src="utils.js"></script>
    <script src="custom_index.js"></script>
    <style>
       .dg{
           display:inline-block;
           width:150px;
           height:150px;
       }
    </style>
</head>

<body ng-controller="chartController">    
    <div>
        <p>Last update time: {{getLastUpdateTime()}}</p>
        <div class="dg">
            <ng-dial-gauge id="gauge1"
                           scale-min="-40"
                           scale-max="50"
                           border-width="1"
                           ng-model="lastData.temp"
                           title="Temperature"
                           bar-color="red"
                           bar-width="6"
                           units="oC"
                           angle="135"
                           rotate="180"
                           line-cap="round"
                           style="stroke:blue;font-weight:100;">
            </ng-dial-gauge>
        </div>
        <div class="dg">
            <ng-dial-gauge id="gauge1"
                           scale-min="0"
                           scale-max="100"
                           border-width="1"
                           ng-model="lastData.humid"
                           title="Humidity"
                           bar-color="blue"
                           bar-width="6"
                           units="%"
                           angle="135"
                           rotate="180"
                           line-cap="round"
                           style="stroke:blue;font-weight:100;">
            </ng-dial-gauge>
        </div>
    </div>
    <div style="width:75%;">
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-series="series" chart-options="options"
                chart-colors="colors"
                chart-click="onClick"></canvas>
    </div>
</body>

</html>